snippet tag "html tag" bA
<$1>
	$2
</$1>$0
endsnippet	


snippet com "Comment" bA
<!-- $1 -->$0
endsnippet

snippet  "<!--  -->" "New line comment" bA
<!-- 
	$1
-->$0
endsnippet	


snippet dm "display math" wA
\[ $1 \]$0
endsnippet


snippet "\[  \]" "newline display math" wA
\[
	$1
\]$0
endsnippet

snippet mn "inline math" wA
\( $1 \)$0
endsnippet


snippet "\(  \)" "newline inline math" wA
\(
	$1
\)$0
endsnippet
