snippet if "if statement" bA
if [ $1 ]
then
	$2
fi
endsnippet

snippet file "Test if file exists" b
if [ -s $1 ] 
then 
	# If file exists and size > 0 bytes
	$1
fi
endsnippet			

snippet cvar "Code evaluated variable" bA
${1:var_name}=$(${2:shell code})
endsnippet

snippet func "Function" bA
${1:func_name} () {
	$2
}
endsnippet
